*{
    font-family: Helvetica;
}

header, footer{
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}

#lewa1, #lewa2{
    background-color: #EFEFEF;
    width: 55%;
}

#lewa1{
    height: 150px;
}

#lewa2{
    height: 300px;
}

#prawa{
    background-color: #4FB3BF;
    width: 45%;
    height: 450px;
    text-align: center;
}

img{
    box-shadow: 10px 10px 7px dimgray;
    margin: 20px;
}

table, td, th{
    border: solid 1px #4FB3BF;
    border-collapse: collapse;
}

table {
    margin: auto;
    width: 80%;
}

td, th{
    padding: 4px;
}

tr:hover{
    background-color: #4FB3BF;
}

section{
    float:right;
}

footer{
    clear: both;
}