* {
    font-family: Georgia;
}

header {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    text-align: center;
}

#glowny {
    background-color: lightblue;
    padding: 100px;
}

#lewy {
    background-color: dodgerblue;
    color: white;
    width: 20%;
    height: 220px;

    float: left;

}

#srodek, #prawy {
    background-color: dodgerblue;
    color: white;
    width: 40%;
    height: 220px;
    text-align: center;

    float: left;
    
}

a{
    border-style: dashed;
    border-width: 1px;
    border-color: dimgray;
    background-color: gold;
    padding: 10px;
    color: darkred;
}